.contact {
  position: relative;
  min-height: 100vh;
  padding: 140px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to left top, #00bcd4, rgb(36, 54, 101));
  background-size: cover;
  padding-top: 10rem;
}
.contact .content {
  max-width: 1000px;
  text-align: center;
  padding-right: 40px;
}

.contact .content h2 {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
}

.contact .content p {
  font-weight: 400;
  color: aliceblue;
  font-size: 14px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.timeline {
  display: inline-flex;
  margin-top: 7rem;
}

.timeline2 {
  margin-top: 5rem;
  display: inline-flex;
  flex-direction: column;
  gap: 4rem;
  display: none;
}

.timeline2 .arrow-stanga {
  margin: 0;
  width: 3px;
  height: 4rem;
  margin-left: 15rem;
  margin-top: 10rem;
}

.timeline2 .pas {
  position: relative;
}

.timeline2 .pas h2 {
  margin-top: -13.5rem !important;
}

/* .timeline2 .pas p {
} */

.pas {
  width: 30rem;
  height: 10rem;
  background-color: antiquewhite;
  transition: 1s;
  border-radius: 20px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 2s ease forwards;
  animation-timeline: view();
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
    margin-top: 10rem;
  }
  to {
    opacity: 1; /* End with opacity 1 */
    margin-top: 0;
  }
}

.timeline-stanga {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-right: 3rem;
}

.pas h2 {
  color: black !important;
  margin-top: -4rem;
  margin-bottom: 1rem !important;
}

.pas p {
  color: black !important;
}

.arrow-stanga {
  width: 50px;
  height: 3px;
  background-color: #333;
  margin-top: 5rem;
  margin-left: 30rem;
}

.arrow-dreapta {
  width: 50px;
  height: 3px;
  background-color: #333;
  margin-top: 5rem;
  margin-left: -50px;
}

.timeline-dreapta {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-top: 10rem;
  margin-left: 3rem;
}

.timeline-mijloc {
  width: 3px;
  height: 1000px;
  background-color: #333;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-timeline: view();
}

.contactForm {
  width: 100%;
  padding: 40px;
  background: white;
  border-radius: 30px;
}

.contactForm h2 {
  font-size: 30px;
  font-weight: 500;
  color: #333 !important;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media screen and (max-width: 1229px) {
  .timeline {
    display: none;
  }
  .timeline2 {
    display: inline-flex;
  }

  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* End with opacity 1 */
    }
  }
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
    width: 100%;
  }
  .contactForm {
    width: 100%;
    margin-right: 0;
  }
  .contact .content {
    padding-right: 0;
    margin-top: 7rem;
  }
}

@media (max-width: 550px) {
  .pas {
    width: 25rem;
  }
  .arrow-stanga {
    margin-left: 12.5rem !important;
  }
}

@media (max-width: 430px) {
  .pas {
    width: 22rem;
  }
  .arrow-stanga {
    margin-left: 11rem !important;
  }
}

@media (max-width: 500px) {
  .contactForm h2 {
    font-size: 28px !important;
  }
}

@media (max-width: 420px) {
  .contactForm h2 {
    font-size: 26px !important;
  }
}
