.contact {
  position: relative;
  min-height: 100vh;
  padding: 140px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom right, rgb(36, 54, 101), white);
  background-size: cover;
}
.contact .content {
  max-width: 1000px;
  text-align: center;
  padding-right: 40px;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
}

.contact .content p {
  font-weight: 300;
  color: aliceblue;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.text {
  display: flex;
  margin-left: 40px;
  font-size: 16px;
  color: #333;
  flex-direction: column;
  font-weight: 300;
  text-align: left;
}

.contactForm {
  width: 60%;
  padding: 40px;
  background: white;
  border-radius: 30px;
}

.contactForm h2 {
  font-size: 30px;
  font-weight: 500;
  color: #333 !important;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  height: auto;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
    width: 100%;
  }
  .contactForm {
    width: 100% !important;
    margin-right: 0;
  }

  .contact .content {
    padding-right: 0;
    margin-top: 7rem;
  }
}

@media (max-width: 500px) {
  .contactForm h2 {
    font-size: 28px !important;
  }
}

@media (max-width: 420px) {
  .contactForm h2 {
    font-size: 26px !important;
  }
}
